## <p style="text-align: center;"><span style="color:maroon">MScA 31012 Data Engineering Platforms for Analytics - Course Project</span></p>
---
# <p style="text-align: center;"> Flight Delays Trends in Chicago O’Hare airport</p>
---

The main of this project is to analysze delays flights at the O'Hare airport in the past year. To better understand the numbers, we decided to capture data of delayed flight from 5 other airports in the US (JFK, Dallas, Atlanta, Denver and LA). These airports are currently the busiest ones in the country. Throught out thia study, we will try to identify the main causes of delays and draw useful insights to avoid them in the future.

In [1]:
import pandas as pd
import os
import glob
from datetime import datetime
import numpy as np

### <p style="text-align: center;">Step 1 - Import data and cleaning process</p>
---

#### Set the file path to the working directory and read the file into Python:

In [2]:
os.chdir(r'C:\Users\danie\Documents\ChicagoUni_MSA\Courses\Data Enge\Project\data')

In [3]:
df3=pd.read_csv('2018_01.csv',index_col=0)

df3.head()

,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
FL_DATE,,,,,,,,,,,,,,,,,,,,,
1/1/2018,UA,11618,31703,11292,30325,1517,1512.0,-5.0,15.0,1527.0,...,NaN,0,268,250.0,225.0,NaN,NaN,NaN,NaN,NaN
1/1/2018,UA,12889,32211,14771,32457,1115,1107.0,-8.0,11.0,1118.0,...,NaN,0,99,83.0,65.0,NaN,NaN,NaN,NaN,NaN
1/1/2018,UA,14908,32575,11292,30325,1335,1330.0,-5.0,15.0,1345.0,...,NaN,0,134,126.0,106.0,NaN,NaN,NaN,NaN,NaN
1/1/2018,UA,14635,31714,13930,30977,1546,1552.0,6.0,19.0,1611.0,...,NaN,0,190,182.0,157.0,NaN,NaN,NaN,NaN,NaN
1/1/2018,UA,13930,30977,10257,30257,630,650.0,20.0,13.0,703.0,...,NaN,0,112,106.0,83.0,NaN,NaN,NaN,NaN,NaN

#### Iterate over 12 files with data

In [ ]:
df3 = pd.DataFrame()
for file_name in glob.glob('2018_[0-9][0-9].csv'):
    table = pd.read_csv(file_name)
    df3=df3.append(table)

In [5]:
df3.head()

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,Unnamed: 27,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
0,250.0,225.0,-23.0,1722.0,NaN,0.0,NaN,1745,1517,268.0,...,UA,11618,31703,NaN,10.0,15.0,NaN,NaN,1527.0,1712.0
1,83.0,65.0,-24.0,1230.0,NaN,0.0,NaN,1254,1115,99.0,...,UA,12889,32211,NaN,7.0,11.0,NaN,NaN,1118.0,1223.0
2,126.0,106.0,-13.0,1636.0,NaN,0.0,NaN,1649,1335,134.0,...,UA,14908,32575,NaN,5.0,15.0,NaN,NaN,1345.0,1631.0
3,182.0,157.0,-2.0,1754.0,NaN,0.0,NaN,1756,1546,190.0,...,UA,14635,31714,NaN,6.0,19.0,NaN,NaN,1611.0,1748.0
4,106.0,83.0,14.0,936.0,NaN,0.0,NaN,922,630,112.0,...,UA,13930,30977,NaN,10.0,13.0,NaN,NaN,703.0,926.0

In [6]:
df4 = df3.drop(['Unnamed: 27'], axis=1)
#df5 = df4.drop(['Unnamed: 28'], axis=1)

In [7]:
df4.head()

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
0,250.0,225.0,-23.0,1722.0,NaN,0.0,NaN,1745,1517,268.0,...,NaN,UA,11618,31703,NaN,10.0,15.0,NaN,1527.0,1712.0
1,83.0,65.0,-24.0,1230.0,NaN,0.0,NaN,1254,1115,99.0,...,NaN,UA,12889,32211,NaN,7.0,11.0,NaN,1118.0,1223.0
2,126.0,106.0,-13.0,1636.0,NaN,0.0,NaN,1649,1335,134.0,...,NaN,UA,14908,32575,NaN,5.0,15.0,NaN,1345.0,1631.0
3,182.0,157.0,-2.0,1754.0,NaN,0.0,NaN,1756,1546,190.0,...,NaN,UA,14635,31714,NaN,6.0,19.0,NaN,1611.0,1748.0
4,106.0,83.0,14.0,936.0,NaN,0.0,NaN,922,630,112.0,...,NaN,UA,13930,30977,NaN,10.0,13.0,NaN,703.0,926.0

In [8]:
df4['FL_DATE'].tail()

593837    2018-12-31
593838    2018-12-31
593839    2018-12-31
593840    2018-12-31
593841    2018-12-31
Name: FL_DATE, dtype: object

#### Eliminate values equal to 1 in the DIVERTED column

In [9]:
#eliminate diverted ==1
sum(df4['DIVERTED']==1)

18231

In [10]:
df5 = df4[df4['DIVERTED']==0]
df5.head(25)

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
0,250.0,225.0,-23.0,1722.0,NaN,0.0,NaN,1745,1517,268.0,...,NaN,UA,11618,31703,NaN,10.0,15.0,NaN,1527.0,1712.0
1,83.0,65.0,-24.0,1230.0,NaN,0.0,NaN,1254,1115,99.0,...,NaN,UA,12889,32211,NaN,7.0,11.0,NaN,1118.0,1223.0
2,126.0,106.0,-13.0,1636.0,NaN,0.0,NaN,1649,1335,134.0,...,NaN,UA,14908,32575,NaN,5.0,15.0,NaN,1345.0,1631.0
3,182.0,157.0,-2.0,1754.0,NaN,0.0,NaN,1756,1546,190.0,...,NaN,UA,14635,31714,NaN,6.0,19.0,NaN,1611.0,1748.0
4,106.0,83.0,14.0,936.0,NaN,0.0,NaN,922,630,112.0,...,NaN,UA,13930,30977,NaN,10.0,13.0,NaN,703.0,926.0
5,79.0,62.0,-11.0,3.0,NaN,0.0,NaN,14,2241,93.0,...,NaN,UA,13930,30977,NaN,2.0,15.0,NaN,2259.0,1.0
6,193.0,173.0,-16.0,900.0,NaN,0.0,NaN,916,750,206.0,...,NaN,UA,12266,31453,NaN,6.0,14.0,NaN,801.0,854.0
7,102.0,85.0,-19.0,1600.0,NaN,0.0,NaN,1619,1324,115.0,...,NaN,UA,11292,30325,NaN,6.0,11.0,NaN,1329.0,1554.0
8,299.0,280.0,-2.0,636.0,NaN,0.0,NaN,638,2224,314.0,...,NaN,UA,14893,33192,NaN,9.0,10.0,NaN,2247.0,627.0
9,237.0,217.0,-17.0,1756.0,NaN,0.0,NaN,1813,1601,252.0,...,NaN,UA,14524,34524,NaN,8.0,12.0,NaN,1611.0,1748.0
10,296.0,280.0,-16.0,631.0,NaN,0.0,NaN,647,2240,307.0,...,NaN,UA,14057,34057,NaN,7.0,9.0,NaN,2244.0,624.0
11,80.0,48.0,129.0,120.0,NaN,0.0,121.0,2311,2059,72.0,...,8.0,UA,13930,30977,0.0,8.0,24.0,0.0,2324.0,112.0
12,347.0,327.0,-26.0,1109.0,NaN,0.0,NaN,1135,825,370.0,...,NaN,UA,11618,31703,NaN,5.0,15.0,NaN,837.0,1104.0
13,140.0,124.0,-3.0,1315.0,NaN,0.0,NaN,1318,1044,154.0,...,NaN,UA,11618,31703,NaN,5.0,11.0,NaN,1106.0,1310.0
14,118.0,99.0,73.0,128.0,NaN,0.0,0.0,15,2114,121.0,...,0.0,UA,13930,30977,0.0,5.0,14.0,11.0,2244.0,123.0
15,338.0,302.0,55.0,1025.0,NaN,0.0,54.0,930,653,337.0,...,1.0,UA,13204,31454,0.0,22.0,14.0,0.0,801.0,1003.0
16,339.0,319.0,25.0,2201.0,NaN,0.0,7.0,2136,1810,386.0,...,0.0,UA,11618,31703,0.0,4.0,16.0,0.0,1938.0,2157.0
17,149.0,131.0,29.0,1606.0,NaN,0.0,29.0,1537,1250,167.0,...,0.0,UA,14635,31714,0.0,6.0,12.0,0.0,1349.0,1600.0
18,206.0,184.0,-18.0,1200.0,NaN,0.0,NaN,1218,940,218.0,...,NaN,UA,12266,31453,NaN,4.0,18.0,NaN,952.0,1156.0
19,92.0,78.0,-21.0,1312.0,NaN,0.0,NaN,1333,1131,122.0,...,NaN,UA,15412,35412,NaN,5.0,9.0,NaN,1149.0,1307.0
20,131.0,108.0,6.0,1055.0,NaN,0.0,NaN,1049,830,139.0,...,NaN,UA,11618,31703,NaN,3.0,20.0,NaN,904.0,1052.0
21,213.0,196.0,-28.0,1054.0,NaN,0.0,NaN,1122,530,232.0,...,NaN,UA,14771,32457,NaN,4.0,13.0,NaN,534.0,1050.0
22,189.0,161.0,-8.0,1422.0,NaN,0.0,NaN,1430,1220,190.0,...,NaN,UA,14635,31714,NaN,3.0,25.0,NaN,1238.0,1419.0
23,325.0,303.0,-35.0,2250.0,NaN,0.0,NaN,2325,1927,358.0,...,NaN,UA,14771,32457,NaN,7.0,15.0,NaN,1940.0,2243.0
24,262.0,214.0,14.0,2013.0,NaN,0.0,NaN,1959,1343,256.0,...,NaN,UA,12441,32441,NaN,10.0,38.0,NaN,1429.0,2003.0

In [11]:
df5.shape

(7284999, 27)

In [12]:
df5.head()

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
0,250.0,225.0,-23.0,1722.0,NaN,0.0,NaN,1745,1517,268.0,...,NaN,UA,11618,31703,NaN,10.0,15.0,NaN,1527.0,1712.0
1,83.0,65.0,-24.0,1230.0,NaN,0.0,NaN,1254,1115,99.0,...,NaN,UA,12889,32211,NaN,7.0,11.0,NaN,1118.0,1223.0
2,126.0,106.0,-13.0,1636.0,NaN,0.0,NaN,1649,1335,134.0,...,NaN,UA,14908,32575,NaN,5.0,15.0,NaN,1345.0,1631.0
3,182.0,157.0,-2.0,1754.0,NaN,0.0,NaN,1756,1546,190.0,...,NaN,UA,14635,31714,NaN,6.0,19.0,NaN,1611.0,1748.0
4,106.0,83.0,14.0,936.0,NaN,0.0,NaN,922,630,112.0,...,NaN,UA,13930,30977,NaN,10.0,13.0,NaN,703.0,926.0

#### Select the rows that correspond to the top busiest airports in the US

In [13]:
#12478 #jfk
#10397 #atlanta
#11292 #denver
#12892 #la
#11298 #dallas
#13930 #ohare

In [14]:
#df6 = df5.loc[(df5['ORIGIN_AIRPORT_ID'] == 13930)| (df5['ORIGIN_AIRPORT_ID'] == 11298)]

In [15]:
df6 = df5.loc[(df5['ORIGIN_AIRPORT_ID'] == 13930)| (df5['ORIGIN_AIRPORT_ID'] == 11298)| (df5['ORIGIN_AIRPORT_ID'] == 12478) | (df5['ORIGIN_AIRPORT_ID'] == 10397) | (df5['ORIGIN_AIRPORT_ID'] == 11292)| (df5['ORIGIN_AIRPORT_ID'] == 12892)]

In [16]:
#| (df5['ORIGIN_AIRPORT_ID'] == 11298| (df5['ORIGIN_AIRPORT_ID'] == 13930)

In [17]:
df6.tail()

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
593801,71.0,46.0,-1.0,1816.0,NaN,0.0,NaN,1817,1700,77.0,...,NaN,B6,12478,31703,NaN,4.0,21.0,NaN,1726.0,1812.0
593821,99.0,57.0,26.0,752.0,NaN,0.0,13.0,726,600,86.0,...,13.0,B6,12478,31703,0.0,3.0,39.0,0.0,652.0,749.0
593824,207.0,182.0,-20.0,241.0,NaN,0.0,NaN,301,2210,231.0,...,NaN,B6,12478,31703,NaN,3.0,22.0,NaN,2236.0,238.0
593829,164.0,140.0,-14.0,1259.0,NaN,0.0,NaN,1313,1017,176.0,...,NaN,B6,12478,31703,NaN,3.0,21.0,NaN,1036.0,1256.0
593838,158.0,132.0,-7.0,16.0,NaN,0.0,NaN,23,2127,176.0,...,NaN,B6,12478,31703,NaN,4.0,22.0,NaN,2200.0,12.0

In [18]:
#df6.loc[(df6['ORIGIN_AIRPORT_ID'] == 12892)]

#### Fill NaN values in order to convert columns with a dtype = float

In [ ]:
df6.loc[:,'DEP_TIME'].fillna(0, inplace=True)
df6.loc[:,'TAXI_OUT'].fillna(0, inplace=True)
df6.loc[:,'DEP_DELAY'].fillna(0, inplace=True)
df6.loc[:,'WHEELS_ON'].fillna(0, inplace=True)
df6.loc[:,'WHEELS_OFF'].fillna(0, inplace=True)
df6.loc[:,'TAXI_IN'].fillna(0, inplace=True)
df6.loc[:,'ACTUAL_ELAPSED_TIME'].fillna(0, inplace=True)
df6.loc[:,'AIR_TIME'].fillna(0, inplace=True)
df6.loc[:,'ARR_TIME'].fillna(0, inplace=True)
df6.loc[:,'ARR_DELAY'].fillna(0, inplace=True)
df6.loc[:,'CANCELLATION_CODE'].fillna('E', inplace=True)
df6.loc[:,'CARRIER_DELAY'].fillna(0, inplace=True)
df6.loc[:,'WEATHER_DELAY'].fillna(0, inplace=True)
df6.loc[:,'NAS_DELAY'].fillna(0, inplace=True)
df6.loc[:,'SECURITY_DELAY'].fillna(0, inplace=True)
df6.loc[:,'LATE_AIRCRAFT_DELAY'].fillna(0, inplace=True)

In [ ]:
df6.loc[:,'DEP_TIME']= df6.DEP_TIME.astype(int)
df6.loc[:,'TAXI_OUT']= df6.DEP_DELAY.astype(int)
df6.loc[:,'DEP_DELAY']= df6.TAXI_OUT.astype(int)
df6.loc[:,'WHEELS_ON']= df6.WHEELS_OFF.astype(int)
df6.loc[:,'WHEELS_OFF']= df6.WHEELS_ON.astype(int)
df6.loc[:,'TAXI_IN']= df6.TAXI_IN.astype(int)
df6.loc[:,'ACTUAL_ELAPSED_TIME']= df6.ACTUAL_ELAPSED_TIME.astype(int)
df6.loc[:,'AIR_TIME']= df6.AIR_TIME.astype(int)
df6.loc[:,'ARR_TIME']= df6.ARR_TIME.astype(int)
df6.loc[:,'ARR_DELAY']= df6.ARR_DELAY.astype(int)

In [21]:
df6.head(5)

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,CRS_ELAPSED_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
4,106,83,14,936,E,0.0,0.0,922,630,112.0,...,0.0,UA,13930,30977,0.0,10,20,0.0,703,703
5,79,62,-11,3,E,0.0,0.0,14,2241,93.0,...,0.0,UA,13930,30977,0.0,2,3,0.0,2259,2259
7,102,85,-19,1600,E,0.0,0.0,1619,1324,115.0,...,0.0,UA,11292,30325,0.0,6,-6,0.0,1329,1329
11,80,48,129,120,E,0.0,121.0,2311,2059,72.0,...,8.0,UA,13930,30977,0.0,8,121,0.0,2324,2324
14,118,99,73,128,E,0.0,0.0,15,2114,121.0,...,0.0,UA,13930,30977,0.0,5,76,11.0,2244,2244

In [22]:
list(df6)

['ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'ARR_DELAY',
 'ARR_TIME',
 'CANCELLATION_CODE',
 'CANCELLED',
 'CARRIER_DELAY',
 'CRS_ARR_TIME',
 'CRS_DEP_TIME',
 'CRS_ELAPSED_TIME',
 'DEP_DELAY',
 'DEP_TIME',
 'DEST_AIRPORT_ID',
 'DEST_CITY_MARKET_ID',
 'DIVERTED',
 'FL_DATE',
 'LATE_AIRCRAFT_DELAY',
 'NAS_DELAY',
 'OP_UNIQUE_CARRIER',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_CITY_MARKET_ID',
 'SECURITY_DELAY',
 'TAXI_IN',
 'TAXI_OUT',
 'WEATHER_DELAY',
 'WHEELS_OFF',
 'WHEELS_ON']

In [23]:
df6['FL_DATE'].tail()

593801    2018-12-31
593821    2018-12-31
593824    2018-12-31
593829    2018-12-31
593838    2018-12-31
Name: FL_DATE, dtype: object

#### Convert colunms that refer to hours (integer values) into a time format

In [24]:
df6.CRS_DEP_TIME.dtype

dtype('int64')

In [25]:
def add_colon(some_num):
    if some_num ==2400:
       some_num = 0000 
    a = '{:02}:{:02}'.format(int(some_num)//100, int(some_num)%100)
    return a

In [26]:
df6.loc[:,'CRS_DEP_TIME'] = df6.CRS_DEP_TIME.apply(add_colon)
df6.loc[:,'DEP_TIME'] = df6.DEP_TIME.apply(add_colon)
df6.loc[:,'WHEELS_OFF'] = df6.WHEELS_OFF.apply(add_colon)
df6.loc[:,'WHEELS_ON'] = df6.WHEELS_ON.apply(add_colon)
df6.loc[:,'CRS_ARR_TIME'] = df6.CRS_ARR_TIME.apply(add_colon)
df6.loc[:,'ARR_TIME'] = df6.ARR_TIME.apply(add_colon)

#### Reorder the column names

In [27]:
column_names = list(df6)

In [28]:
column_names.remove("FL_DATE")

In [29]:
column_names.insert(0,'FL_DATE')

In [30]:
df7 = df6[column_names]

In [31]:
df7.head(20)

,FL_DATE,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
4,1/1/2018,106,83,14,09:36,E,0.0,0.0,09:22,06:30,...,0.0,UA,13930,30977,0.0,10,20,0.0,07:03,07:03
5,1/1/2018,79,62,-11,00:03,E,0.0,0.0,00:14,22:41,...,0.0,UA,13930,30977,0.0,2,3,0.0,22:59,22:59
7,1/1/2018,102,85,-19,16:00,E,0.0,0.0,16:19,13:24,...,0.0,UA,11292,30325,0.0,6,-6,0.0,13:29,13:29
11,1/1/2018,80,48,129,01:20,E,0.0,121.0,23:11,20:59,...,8.0,UA,13930,30977,0.0,8,121,0.0,23:24,23:24
14,1/1/2018,118,99,73,01:28,E,0.0,0.0,00:15,21:14,...,0.0,UA,13930,30977,0.0,5,76,11.0,22:44,22:44
26,1/1/2018,184,157,-4,18:06,E,0.0,0.0,18:10,14:05,...,0.0,UA,13930,30977,0.0,9,-3,0.0,14:20,14:20
35,1/1/2018,192,173,-16,15:00,E,0.0,0.0,15:16,09:50,...,0.0,UA,11292,30325,0.0,6,-2,0.0,10:01,10:01
36,1/1/2018,169,142,-9,17:37,E,0.0,0.0,17:46,13:50,...,0.0,UA,13930,30977,0.0,4,-2,0.0,14:11,14:11
38,1/1/2018,146,115,-7,12:35,E,0.0,0.0,12:42,09:15,...,0.0,UA,11292,30325,0.0,19,-6,0.0,09:21,09:21
41,1/1/2018,249,230,-19,14:22,E,0.0,0.0,14:41,12:15,...,0.0,UA,13930,30977,0.0,1,-2,0.0,12:31,12:31
45,1/1/2018,158,133,-16,20:41,E,0.0,0.0,20:57,17:10,...,0.0,UA,11298,30194,0.0,7,-7,0.0,17:21,17:21
46,1/1/2018,92,65,-8,23:48,E,0.0,0.0,23:56,22:20,...,0.0,UA,11292,30325,0.0,3,-4,0.0,22:40,22:40
47,1/1/2018,165,149,-11,00:01,E,0.0,0.0,00:12,22:20,...,0.0,UA,11292,30325,0.0,5,-4,0.0,22:27,22:27
48,1/1/2018,68,51,-17,22:25,E,0.0,0.0,22:42,20:18,...,0.0,UA,11292,30325,0.0,4,-1,0.0,20:30,20:30
49,1/1/2018,199,182,-21,01:41,E,0.0,0.0,02:02,20:25,...,0.0,UA,11292,30325,0.0,6,-3,0.0,20:33,20:33
55,1/1/2018,150,126,-4,00:53,E,0.0,0.0,00:57,21:13,...,0.0,UA,13930,30977,0.0,6,10,0.0,21:41,21:41
56,1/1/2018,84,58,26,22:35,E,0.0,0.0,22:09,20:30,...,0.0,UA,13930,30977,0.0,5,41,26.0,21:32,21:32
57,1/1/2018,64,43,0,23:16,E,0.0,0.0,23:16,20:55,...,0.0,UA,13930,30977,0.0,7,17,0.0,21:26,21:26
58,1/1/2018,96,76,0,00:03,E,0.0,0.0,00:03,21:01,...,0.0,UA,13930,30977,0.0,4,26,0.0,21:43,21:43
59,1/1/2018,132,111,-15,19:09,E,0.0,0.0,19:24,15:58,...,0.0,UA,12892,32575,0.0,7,-1,0.0,16:11,16:11

In [32]:
df7['FL_DATE'] =pd.to_datetime(df7['FL_DATE'])

In [33]:
df7.head()

,FL_DATE,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DELAY,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,CRS_DEP_TIME,...,NAS_DELAY,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON
4,2018-01-01,106,83,14,09:36,E,0.0,0.0,09:22,06:30,...,0.0,UA,13930,30977,0.0,10,20,0.0,07:03,07:03
5,2018-01-01,79,62,-11,00:03,E,0.0,0.0,00:14,22:41,...,0.0,UA,13930,30977,0.0,2,3,0.0,22:59,22:59
7,2018-01-01,102,85,-19,16:00,E,0.0,0.0,16:19,13:24,...,0.0,UA,11292,30325,0.0,6,-6,0.0,13:29,13:29
11,2018-01-01,80,48,129,01:20,E,0.0,121.0,23:11,20:59,...,8.0,UA,13930,30977,0.0,8,121,0.0,23:24,23:24
14,2018-01-01,118,99,73,01:28,E,0.0,0.0,00:15,21:14,...,0.0,UA,13930,30977,0.0,5,76,11.0,22:44,22:44

#### Export file to Excel

In [34]:
df7.to_csv(r'C:\Users\danie\Documents\ChicagoUni_MSA\Courses\Data Enge\Project\flight_20190603_6airporst.csv',index=False,header=False)

In [35]:
df7.shape

(1601718, 27)